<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}HolderBase{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css" rel="stylesheet">

    <style type="text/css">
      #floating_alert {
          position: fixed;
          bottom: 1%;
          right: 1%;
          z-index: 9999;
      }
      .alert-trim {
        display: inline-block;
      }
    </style>

    {% block extra_head %}{% endblock %}
  </head>
  <body>
  {% block body %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">HB Dashboard</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li> -->
        </ul>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" style="margin-right: 10px;">
          Upload file
        </button>
        {% if user.is_authenticated %}
        <a href="/account/logout/" class="btn btn-outline-danger btn-sm">Log out</a>
        {% endif %}
      </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Upload file</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="file" name="myfile" required>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-success">Upload</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% if messages %}
    <div id="floating_alert" class="clearfix">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" data-alert="alert">  <!-- singular -->
          <a class="close" data-dismiss="alert" style="padding-left:1em;">×</a>
          {{ message }}      
        </div>
      {% endfor %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}
    
  {% endblock %}
    {% block jquery %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    {% endblock %}
    <script src="http://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>